/* Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	background: #fafafa;
	font-weight: 500;
	font-family: Montserrat;
}
/* -----------------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* -----------------------------------------------------------------------*/
._container {
	max-width: 1046px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ----------ШАПКА-------------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0 0 0 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 50px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
	.menu__link {
		font-size: 18px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0 21px 0 0;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
	text-decoration: underline;
}
/* ----------PAGE-------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients {
	margin: 0 0 10px 0;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/* ----------HEADER-BLOCk-------------------------------------------------------------*/
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	font-weight: 700;
}
.header-block__title:not(:last-child) {
	margin: 0 0 10px 0;
}
.header-block__sub-title {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}
/* ----------MAIN-------------------------------------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0 160px 0;
	}
	.main-block__title {
		font-size: 42px;
	}
	.main-block__text {
		color: #585757;
	}
	.main-block__button {
		flex: 1 1 100%;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0 0 35px 0;
}
.main-block__title {
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 800;
	letter-spacing: 0.2px;
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: calc(30 / 20 * 100%);
}
.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	padding: 5px 36px;
	min-height: 48px;
	margin: 10px 0;
	transition: all 0.3s ease 0s;
}
.main-block__button:hover {
	background: #fff;
	color: #ff7b47;
}

@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__button_orange {
	background: #ff7b47;
	color: white;
}
.main-block__button_orange:hover {
	background-color: #fff;
	color: #ff7b47;
}

.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
	background-color: #0d5c63;
	color: #fff;
}
/* ----------SERVICES-------------------------------------------------------------*/

.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	.services__column {
		padding: 0 15px;
	}
}
.services__column {
	flex: 0 1 33.333%;
	margin: 0 0 30px 0;
	padding: 0 15px;
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
	.services__column:not(:last-child) {
		margin: 0 0 30px 0;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0 13px 19px rgba(0, 0, 0, 07);
	background-color: #fff;
	padding: 35px;
}
@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-service {
}
.item-service > *:not(:last-child) {
	margin: 0 0 10px 0;
}
.item-service_green {
	background-color: #0d5c63;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service_green .item-service__title {
	color: #fff;
}
.item-service__icon {
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
}
.item-service__text {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
/* ----------ПОДВАЛ-------------------------------------------------------------*/
.footer {
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
	.advantages {
		padding: 50px 0;
	}
}
/* ----------ABVANTAGES-------------------------------------------------------------*/
.advantages {
	padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
	margin: 0 0 50px 0;
}
.advantages__body {
	display: flex;
	margin: 0 -15px -30px;
	flex-wrap: wrap;
}
.advantages__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
	.advantages__header {
		margin: 0 0 25px 0;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	font-weight: 700;
}
.advantages__item > *:not(:last-child) {
	margin: 0 0 10px 0;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
}
.advantages__text {
	color: #737373;
	font-size: 16px;
	line-height: calc((24 / 16 * 100%));
}
/* ----------PRACTICE-------------------------------------------------------------*/

.practice {
	padding: 125px 0 80px 0;
}
.practice__container {
}

.practice__header {
	margin: 0 0 45px 0;
}
.practice__body {
	margin: 0 -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0 20px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0 40px 0;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0 0 0 0;
	}
	.practice__header {
		margin: 0 0 25px 0;
	}
}
@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background-color: #ffff;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
}
.item-practice__link:not(:last-child) {
	margin: 0 0 15px 0;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	font-weight: 700;
}
.item-practice__text {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
.item-practice__image {
	display: block;
	padding: 0 0 60% 0;
}
._ibg {
}
/* ----------WHOWEARE-------------------------------------------------------------*/

.whoweare {
	background: #fff;
	padding: 80px 0 130px 0;
}
.whoweare__container {
}
.whoweare__header {
	margin: 0 0 100px 0;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0 0 121px;
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
	margin: 0 0 10px 0;
}
.whoweare__text {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
.whoweare__items {
	margin: 50px 0 0 0;
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
	margin: 0 0 30px 0;
}
.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0 0 0 20px;
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
}
.item-whoweare__title:not(:last-child) {
	margin: 0 0 5px 0;
}
.item-whoweare__text {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
@media (max-width: 950px) {
	.whoweare {
		padding: 50px 0 50px 0;
	}
	.whoweare__header {
		margin: 0 0 30px 0;
	}
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__video {
		padding: 0 0 56.25% 0;
	}
	.whoweare__video:not(:last-child) {
		margin: 50px 0 0 0;
	}
	.whoweare__content {
		padding: 0 0 0 0;
	}
	.whoweare__title {
		font-size: 24px;
	}
}
@media (max-width: 767px) {
	.whoweare {
		padding: 20px 0 0 0;
	}
	.whoweare__video:not(:last-child) {
		margin: 30px 0 0 0;
	}
}
@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0 0 0 50px;
	}
}
/* ----------CLIENTS-------------------------------------------------------------*/
.clients {
	padding: 50px 0;
}
@media (max-width: 767px) {
	.clients {
		padding: 30px 0;
	}
}
.clients__container {
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}
/* ----------SUBSCRIBE-------------------------------------------------------------*/
.subscribe {
	position: relative;
	padding: 0 0 20px 0;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #252b42;
	height: 77px;
	left: 0;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	align-items: center;
	background-color: #17213c;
	border-radius: 2px;
}
@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}
@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}
@media (max-width: 810px) {
	.subscribe__title {
		margin: 0 0 20px 0;
	}
	.subscribe__body {
		margin: 0 -15px;
		padding: 20px 15px;
	}
	.subscribe__input {
		padding: 0 15px;
	}
	.subscribe__button {
		padding: 0 15px;
	}
}
.subscribe__title {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0 20px;
	color: #737373;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	border-right: 0;
}
.subscribe__input:focus {
	color: black;
}
.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 0 22px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.subscribe__button:hover {
	background: #a54d2a;
}
/* ----------GETINTOUCH-------------------------------------------------------------*/

.getintouch {
	padding: 80px 0 135px 0;
}
.getintouch__container {
}
.getintouch__header {
	padding: 0 0 80px 0;
}
.getintouch__items {
	margin: 0 -15px;
}
@media (min-width: 992px) {
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0;
	}
	.getintouch__header {
		padding: 0 0 20px 0;
	}
	.item-getintouch_active {
		padding: 50px 15px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		padding: 0 0 30px 0;
	}
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
}
.item-getintouch_active {
	background: #252b42;
	color: #fff;
	padding: 90px 15px;
}
.item-getintouch_active .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}
.item-getintouch > *:not(:last-child) {
	margin: 0 0 15px 0;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: calc(24 / 16 * 100%);
	font-size: 16px;
}
.item-getintouch__email:hover {
	text-decoration: underline;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
}
.item-getintouch__button {
	border: 1px solid #ff7b47;
	min-height: 44px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ff7b47;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
	padding: 5px 20px;
	transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
	background-color: #ff7b47;
	color: #fff;
}
/* ----------CONTACT-------------------------------------------------------------*/

.contact {
	background-color: #fff;
	padding: 42px 0;
}
.contact__container {
}
.contact_content {
	padding: 0 0 20px 0;
}
@media (min-width: 767px) {
	.contact__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.contact_content {
		padding: 0 20px 0 0;
	}
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.1px;
	line-height: calc(32 / 24 * 100%);
}
.contact__title:not(:last-child) {
	margin: 0 0 10px 0;
}
.contact__text {
	color: #737373;
	line-height: calc(20 / 14 * 100%);
}
.contact__button {
	display: flex;
	background-color: #ff7b47;
	border-radius: 5px;
	min-height: 58px;
	padding: 5px 40px;
	transition: background-color 0.3s ease 0s;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}
.contact__button:hover {
	background-color: #b8522a;
}
/* ----------FOOTER-------------------------------------------------------------*/
.footer {
}
.footer__top {
	background: #17213c;
	padding: 35px 0;
}
.footer__main {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer__column {
	flex: 0 1 16.6667%;
	padding: 15px 15px;
	min-width: 170px;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 700px) {
	.footer__column {
		flex: 0 1 50%;
	}
}
.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0 0 20px 0;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin: 0 0 10px 0;
}
.menu-footer__link {
	color: #fff;
	letter-spacing: 0.2px;
	display: inline-block;
	line-height: 171%;
}
.menu-footer__link:hover {
	text-decoration: underline;
}
.footer__contacts {
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0 0 0 34px;
	display: flex;
	align-items: center;
	min-height: 30px;
	color: #fff;
	line-height: 142%;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0 0 12px 0;
}
.contacts-footer__item_phone {
	background: url("../footer/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
	background: url("../footer/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
	background: url("../footer/03.svg") 0 0 no-repeat;
}
.footer__bottom {
	padding: 25px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin: 0 0 15px 0;
		text-align: center;
	}
}
.footer__copy {
	color: #737373;
	line-height: calc(24 / 14 * 100%);
}
.footer__social {
}
.social {
	display: flex;
	align-items: center;
}
.social__item {
}
.social__item:not(:last-child) {
	margin: 0 20px 0 0;
}
